
	<div class="askAQuestion">
		<!-- 页头 -->
		<header>
			<a href="javascript:history.go(-1)" class="close"></a>
			<div class="qus">提个问题</div>
			<a href="" class="publish">发布</a>
		</header>
		<!-- 主体 -->
		<main>
		<!-- 输入框 -->
			<div class="question">
			<!-- 写下你的问题（必填） -->
				<input type="text" placeholder = "写下你的问题（必填）" class="q1">
			<!-- 增加问题补充 -->
				<textarea class="q2">
				</textarea>
			</div>
		
		<!-- 所属话题 -->
			<div class="topic">
				<span class="t1">所属话题</span>
				<span class="t2"></span>
			</div>
		<!-- 匿名 -->
			<div class="rules">
				<div class="r1">
					<span class="rulesRadio"></span>匿名
				</div>
				<div class="r2">
					<span>你的提问遵守</span>
					<span class="r2_r">《拉勾社区管理规范》</span>
				</div>
			</div>
		</main>
	</div>
