<div class="filterContent" >
	<div class="range">
  		<div>月薪范围</div>
  		<div>(不限)</div>
			<div class="demo">
			<input type="hidden" class="single-slider" value="10" />
			 </div>
		</div>
		<div class="experience">
		<div class="job_experience">工作经验</div>
		<div class="short_years">
			<span ng-click="click($event)">应届毕业生</span>
			<span ng-click="click($event)">3年及以下</span>
			<span ng-click="click($event)">3-5年</span>
			<span ng-click="click($event)">5-10年</span>
		</div>				
		<div class="long_years">
			<span ng-click="click($event)">10年以上</span>
			<span ng-click="click($event)">经验不限</span>
			<div></div>
			<div></div>
		</div>
	</div>
	<div class="degree">
		<div class="require_degree">学历要求</div>
		<div class="College_above">
			<span ng-click="click($event)">大专</span>
			<span ng-click="click($event)">本科</span>
			<span ng-click="click($event)">硕士</span>
			<span ng-click="click($event)">博士</span>
		</div>
		<div class="no_require">
			<span ng-click="click($event)">不要求</span>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<div class="job">
		<div class="job_type">工作性质</div>
		<div class="jobs">
			<span ng-click="click($event)">全职</span>
			<span ng-click="click($event)">兼职</span>
			<span ng-click="click($event)">实习</span>
			<div></div>
		</div>
	</div>
	<div class="yes">确定</div>
</div>
