<div class="homePage">
	<a ui-sref = "hotSearch"><div ng-class = " 'homePageHeader ' + headerClass">
		
		  <input type="text" placeholder='搜索职位/公司/商区'>
		
		<span><img src="public/images/homePage1.png" alt="" ></span>
	</div></a>
	<!-- 轮播图部分 -->
	<!-- <div class="swiper-container"> -->
	    <my-swiper></my-swiper>
  	<!-- </div> -->
  	<!-- 下边的工作职位展示 -->
  	<div class="homePagePositionShow">
  	<a ng-repeat = "company in companyList" ui-sref="jobDetails" ng-click="skip(company)">
  		<div class="List1 list">
	  		<div class="PositionShowLeft">
	  			<img src="{{company.companyLogo}}" alt="" class="PositionShow_img">
	  			<!-- <img src="public/images/homePage3.gif" alt="" class="PositionShow_img"> -->
	  		</div>
	  		<div class="PositionShowRight">
	  			<p class="list1" >
	  			     {{company.positionName}}
		  			<img src="public/images/homePage_1.gif" alt="">
		  			<span ng-bind = "company.salary"></span>
	  			</p>
	  			<p class="list2" ng-bind = "company.companyFullName"></p>
	  			<p class="list3" ng-bind = "company.education + ' ' +  company.workYear + ' ' + company.education"><span ng-bind = "company.createTime"></span></p>
	  			<p class="list4" ng-bind = "company.financeStage + ' | ' +  company.companySize + ' | ' + company.industryField"></p>
	  		</div>
  		</div>
    </a>
  	<!-- 	<div class="List2 list" >
	  		<div class="PositionShowLeft">
	  			<img src="public/images/homePage3.gif" alt="" class="PositionShow_img">
	  		</div>
	  		<div class="PositionShowRight">
	  			<p class="list1">web前端开发工程师<span>6-10k</span></p>
	  			<p class="list2">喜怒Ida</p>
	  			<p class="list3">北京 百善 1-3年 学历不限 <span>10月25日</span></p>
	  			<p class="list4">不需要融资 | 15-50人 | 移动互联网</p>
	  		</div>
  		</div> -->
  		<!-- <div class="List3 list">
	  		<div class="PositionShowLeft">
	  			<img src="public/images/homePage2.gif" alt="" class="PositionShow_img">
	  		</div>
	  		<div class="PositionShowRight">
	  			<p class="list1">web前端<img src="public/images/homePage_1.gif" alt=""><span>6-10k</span></p>
	  			<p class="list2">北京爱琴海只科技有限公司</p>
	  			<p class="list3">北京 百善 1-3年 学历不限 <span>10月25日</span></p>
	  			<p class="list4">不需要融资 | 15-50人 | 移动互联网</p>
	  		</div>
  		</div>
  		<div class="List4 list">
	  		<div class="PositionShowLeft">
	  			<img src="public/images/homePage3.gif" alt="" class="PositionShow_img">
	  		</div>
	  		<div class="PositionShowRight">
	  			<p class="list1">web前端<span>6-10k</span></p>
	  			<p class="list2">小年糕</p>
	  			<p class="list3">北京 百善 1-3年 学历不限 <span>10月25日</span></p>
	  			<p class="list4">不需要融资 | 15-50人 | 移动互联网</p>
	  		</div>
  		</div>
  		<div class="List1 list">
	  		<div class="PositionShowLeft">
	  			<img src="public/images/homePage2.gif" alt="" class="PositionShow_img">
	  		</div>
	  		<div class="PositionShowRight">
	  			<p class="list1">web前端<img src="public/images/homePage_1.gif" alt=""><span>6-10k</span></p>
	  			<p class="list2">捌零玖零网络公司</p>
	  			<p class="list3">北京 百善 1-3年 学历不限 <span>10月25日</span></p>
	  			<p class="list4">不需要融资 | 15-50人 | 移动互联网</p>
	  		</div>
  		</div>
  		<div class="List2 list">
	  		<div class="PositionShowLeft">
	  			<img src="public/images/homePage3.gif" alt="" class="PositionShow_img">
	  		</div>
	  		<div class="PositionShowRight">
	  			<p class="list1">web前端<span>6-10k</span></p>
	  			<p class="list2">捌零玖零网络公司</p>
	  			<p class="list3">北京 百善 1-3年 学历不限 <span>10月25日</span></p>
	  			<p class="list4">不需要融资 | 15-50人 | 移动互联网</p>
	  		</div>
  		</div>
  		<div class="List3 list">
	  		<div class="PositionShowLeft">
	  			<img src="public/images/homePage2.gif" alt="" class="PositionShow_img">
	  		</div>
	  		<div class="PositionShowRight">
	  			<p class="list1">web前端<img src="public/images/homePage_1.gif" alt=""><span>6-10k</span></p>
	  			<p class="list2">捌零玖零网络公司</p>
	  			<p class="list3">北京 百善 1-3年 学历不限 <span>10月25日</span></p>
	  			<p class="list4">不需要融资 | 15-50人 | 移动互联网</p>
	  		</div>
  		</div>
  		<div class="List4 list">
	  		<div class="PositionShowLeft">
	  			<img src="public/images/homePage3.gif" alt="" class="PositionShow_img">
	  		</div>
	  		<div class="PositionShowRight">
	  			<p class="list1">web前端<span>6-10k</span></p>
	  			<p class="list2">捌零玖零网络公司</p>
	  			<p class="list3">北京 百善 1-3年 学历不限 <span>10月25日</span></p>
	  			<p class="list4">不需要融资 | 15-50人 | 移动互联网</p>
	  		</div>
  		</div> -->
  	</div>
</div>
<my-footer></my-footer>
