<div class="message">
<!-- 头部的消息列表 -->
	<div class="messageHeader">消息列表</div>
	<div class="messageMain">
	<!-- 三个菜单栏 -->
		<div class="messageNav">
			<a ui-sref="resume">
				<div class="list1">
					<div class="img_"></div>
					<p>简历状态</p>
				</div>
			</a>
			<a ui-sref="position_invite">
				<div class="list2">
					<div class="img_"></div>
					<p>职位邀请</p>
				</div>
			</a>
			<a ui-sref="community">
				<div class="list3">
					<div class="img_"></div>
					<p>言职通知</p>
				</div>
			</a>
		</div>
	<!-- 下边的两条内容 -->
		<div class="messageNav2">
			<a ui-sref="whoReadResume">
				<div class="list1 list">
					<div class="img_"></div>
					<div class="mian2">
						<p>谁看过我</p>
						<p>暂无新消息</p>
						<span>&gt;</span>
					</div>
				</div>
			</a>
			<div class="list2 list">
				<div class="img_"></div>
				<div class="mian2">
					<p>拉勾gogo</p>
					<p>拉勾APP3.2版本新功能使用攻略</p>
					<span>17:20</span>
				</div>
			</div>
		</div>
	<!-- 随便加个商城试试 -->
		<!-- <div class="Yondo messageNav2">
			<a ui-sref="MessageMall">
				<div class="list1 list">
					<div class="img_"></div>
					<div class="mian2">
						<p>拉勾商城</p>
						<p>海量商品任你淘</p>
						<span>R</span>
					</div>
				</div>
			</a>
		</div> -->
	</div>
	<my-footer></my-footer>
</div>
