
	<section class="resume">
		<header class="resume_header">
			<a href="javascript:history.go(-1)"><div class="back"></div></a>
			<div>简历</div>
			<div class="right_blank"></div>
		</header>
		<main class="resume_main">
			<div class="my_resume">
				<div class="resume_online">
					<span>在线简历</span>
					<span class="integrity-message">
						<div>完整度:</div>
						<div class="integrity">63%</div>
					</span>
				</div>
				<div class="resume_attachment">附件简历
					<span class="is_attachment">暂无</span>
				</div>
			</div>
			<div class="resume_default">
				<span class="select_default">选择默认简历</span>
			</div>
		</main>
	</section>
