<!-- <!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,height=device-height">
	<title>设置</title>
	<link rel="stylesheet" href="setting.css">
</head>
<body> -->
	<!-- 设置 -->
	<div class="setting">
		<!-- 页头 -->
		<header>
			<div class="back" ui-sref="mine"></div>
			<div class="set">设置</div>
		</header>
		<!-- 主体 -->
		<main>
			<p>我的账号</p>
			<p>推送消息设置</p>
			<p class="clear"><span>清除缓存</span></p>
			<p>关于拉勾</p>
			<p class="rule"><span>用户协议</span></p>
			<p class="quit">退出账号</p>
		</main>	
	</div>
<!-- </body>
</html> -->