
<section class="resume_status">
	<header class="resume_status_header">
		 <!-- <a ui-sref="message"><div class="back"></div></a> -->
		 <a href="#message"><div class="back"></div></a>
		<div>谁看过我</div>
		</a><div class="right_blank"></div>
	</header>
	<main class="resume_status_main">
		<ul class="resume_status_ul">
			<!-- <li class="resume_status_li">全部</li>
			<li class="resume_status_li">被查看</li>
			<li class="resume_status_li">待沟通</li>
			<li class="resume_status_li">面试</li>
			<li class="resume_status_li">不合适</li> -->
		</ul>
		<div class="resume_status_img">
			<!-- <img src="public/images/resume.jpg" alt=""> -->
		</div>
		<div class="no_record">暂无记录</div>
		<!-- <div class="go_find">快去寻找你心仪的工作吧</div> -->

	</main>
</section>
